:root {
  --bs-Strong-Cyan: hsl(171, 66%, 44%);
  --bs-Light-Blue: hsl(233, 100%, 69%);
  --bs-Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --bs-Grayish-Blue: hsl(201, 11%, 66%);
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
}

section {
  padding-top: 100px;
  margin-bottom: 100px;
}
.header {
  height: 600px;
  padding-top: 10%;
  background-image: url(../images/bg-header-desktop.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}
a {
  text-decoration: none;
}
.logo-top {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
h1 {
  font-weight: 600;
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
p {
  color: var(--bs-Grayish-Blue);
}
.heading {
  text-align: center;
  width: 40%;
  margin: auto;
}
.btn-download {
  display: inline-block;
}
.download {
  color: white;
  display: inline-block;
  margin: 30px 10px 10px 10px;
  padding: 15px 40px 15px 40px;
  border-radius: 40px;
}
#mac-1,
#mac-2 {
  border: none;
  background-color: var(--bs-Light-Blue);
  box-shadow: 0px 3px 6px var(--bs-Light-Blue);
}
#mac-1:hover,
#mac-2:hover {
  border-bottom: 3px solid hsl(233, 55%, 49%);
}
#ios-1,
#ios-2 {
  border: none;
  background-color: var(--bs-Strong-Cyan);
  box-shadow: 0px 3px 6px var(--bs-Strong-Cyan);
}
#ios-1:hover,
#ios-2:hover {
  border-bottom: 3px solid hsl(171, 77%, 27%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bs-Dark-Grayish-Blue);
  font-weight: 600;
}
.main-1,
.main-3,
.main-4,
.main-5,
.main-6 {
  text-align: center;
}
.main-1 {
  width: 40%;
  margin: auto;
}
.pc {
  display: inline-block;
  margin: 50px 150px 120px -50px;
}
.container-1 {
  display: inline-block;
  margin: 100px 50px 50px 0px;
}
.main-2 {
  display: flex;
}
.container-1 div {
  margin-bottom: 10px;
  width: 55%;
}
.main-3-heading {
  width: 45%;
  margin: auto;
}
.main-4 div,
.main-5 div {
  display: inline-block;
}
#main-4-header {
  display: block;
  width: 100%;
}
.main-4 div {
  margin: -60px 20px 100px 20px;
  width: 25%;
}
#blacklist {
  position: relative;
  transform: translateY(25px);
}
.main-5 div {
  margin: 100px 50px 100px 50px;
}
.main-6-heading {
  width: 45%;
  margin: auto;
}
footer {
  background-color: rgb(240, 240, 240);
}
footer .main-7 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding: 10px;
}
#logo-main-7 {
  display: inline-block;
  height: 60px;
}
.end {
  display: inline-block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  list-style: none;
}
.div-1 {
  display: inline-block;
  font-weight: 400;
  text-align: left;
  font-size: 20px;
  width: 40%;
  color: hsl(210, 10%, 33%);
  margin: 10px 0px 10px 10px;
  padding: 10px;
}
.ul-1 {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.end a {
  text-decoration: none;
  color: var(--bs-Dark-Grayish-Blue);
}
.end a:hover {
  color: var(--bs-Strong-Cyan);
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
  position: relative;
  transform: translateY(10px);
  margin-bottom: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.social {
  display: inline-block;
  list-style: none;
  margin: 10px 0px 10px 10px;
  padding: 0px;
}
.social a {
  text-decoration: none;
  color: var(--bs-Dark-Grayish-Blue);
}
.social a:focus,
.social a:hover {
  color: hsl(228, 45%, 44%);
}
.ul-2 {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
}
.social a img {
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 801px) {
  .main-2 {
    display: flex;
    align-items: flex-start;
  }
  .pc {
    display: inline;
    position: relative;
    margin: 100px 20px 0px -30px;
    padding: 0px;
  }
  .container-1 {
    display: inline-block;
    margin: 100px 0px 0px 20px;
  }
  .pc img {
    width: 400px;
  }
  .photo-device img {
    width: 700px;
  }
}
@media (max-width: 540px) {
  .download {
    color: white;
    display: block;
    text-align: center;
    margin: 30px 10px 10px 10px;
    padding: 15px 40px 15px 40px;
    border-radius: 40px;
  }
  .btn-download {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .header p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .heading {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .main-1 {
    width: 90%;
    margin: auto;
  }
  #mac-1,
  #mac-2 {
    border: none;
    background-color: var(--bs-Light-Blue);
    box-shadow: 0px 3px 6px var(--bs-Light-Blue);
  }
  #mac-1:hover,
  #mac-2:hover {
    border-bottom: 3px solid hsl(233, 55%, 49%);
  }
  #ios-1,
  #ios-2 {
    border: none;
    background-color: var(--bs-Strong-Cyan);
    box-shadow: 0px 3px 6px var(--bs-Strong-Cyan);
  }
  #ios-1:hover,
  #ios-2:hover {
    border-bottom: 3px solid hsl(171, 77%, 27%);
  }
  .container-1 div {
    width: 100%;
    margin: auto;
  }
  .main-3-heading {
    width: 100%;
    margin: auto;
  }
  .pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 40px 0px;
  }
  .container-1 {
    display: block;
    text-align: center;
    margin: 60px 0px 0px 0px;
  }
  .container-1 div {
    margin: 40px 0px 40px 0px;
  }
  .main-2 {
    display: block;
  }
  .pc img {
    width: 95%;
  }
  .photo-device img {
    width: 90%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--bs-Dark-Grayish-Blue);
    font-weight: 600;
  }
  h1 {
    font-weight: 600;
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  .main-4 div {
    display: block;
    margin: 20px 0px 60px 0px;
    width: 100%;
  }
  .main-5 div {
    margin: 50px 50px 50px 50px;
  }
  #blacklist {
    position: relative;
    transform: translateY(0px);
  }
  .photo-device {
    margin: 50px 0px 40px 0px;
  }
  .end {
    display: block;
    text-align: center;
  }
  .main-6-heading {
    width: 100%;
    margin: auto;
  }
  #logo-main-7 {
    display: block;
    height: 60px;
    margin: auto;
  }
  .div-1 {
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    color: hsl(210, 10%, 33%);
    margin: 10px 0px 10px -30px;
    padding: 0px;
  }
  .ul-1 {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }
  .ul-2 {
    display: block;
    margin: auto;
    margin: 10px 0px 10px -30px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }
}
